@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.main{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 7%;
    gap: 50%;
}

.steps-container-header{
    display: flex;
    align-items: baseline;
    width: 90%;
    /* gap: 7.3%; */
    position: relative;
    /* border: solid 2px blue; */
}

.present-img{
    width: 48%;
    height: 70.6%;
    margin-bottom: 6%;
    /* height: 48px;
    width: 48px; */
}

#localImgGray{
    /* display: none; */
}
#localImgSelected{
    display: none;
}

.present{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 11%;
    /* border: solid 2px black; */
}

/* ----- Linhas e Seta------ */

.arrow-start{
    font-size: 5rem;
    color: #FFB30D;
    height: 80px;
    /* ----animação----- */
    /* left: 400px; */
    /* display: none; */
    position: absolute;
    
    left: 10%;
    top: 1%;
    bottom: 1%;
   
    
}

.red-line{
    font-size: 5rem;
    color: red;
    /* display: none; */
    /* position: absolute; */
    left: 95px;
    bottom: 28px;
    
}
#redLine1{
     visibility: hidden;
    /*
     left: 95px;
    bottom: 28px; */
    
    }
    
/* 
#redLine2{
    position: absolute;
    left: 275px;
    bottom: 28px;

}

#redLine3{
    position: absolute;
    left: 377px;
    bottom: 28px;

}

#redLine4{
    position: absolute;
    left: 479px;
    bottom: 28px;

} */
/* ------------------ */

.profile-section-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    width: 55%;
    height: 25%;
    padding: 3.2%;
    border-radius: 16px;
    border: solid 2px #DFDFDF;
    margin-top: 6%;
    margin-bottom: 3%;
    gap: 6%;

    position: relative;
}

/* -----Fontes <P> <Label> etc------ */

.email-fullName, .email-name, .paragraph, .steps-label{
    font-family: inter;
}

.steps-label{
    font-size: 1rem;
    font-weight: 500;

}

.email-fullName, .email-name{
    height: 60%;
}

.email-fullName{
    color: #0C0C0C;
    font-size: 1.2rem;
    font-weight: bolder;
}

.registered-email{
    color: #0A453A;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15%;
}

.registered-name{
    font-size: 1.1rem;
    font-weight: 500;
}

.emailUsername{
    margin-bottom: 25%;
}

.paragraph{
    width: 100%;
    font-size: ;
}

/* ----------- BOTOES --------- */

.button-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid black; */
    width: 53%;
}

.button{
    border: solid var(--dark-red) 1.5px;
    height: 48px;
    width: 198px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: box-shadow .6s ease;
    border-radius: 5px;
}

.button {
    background-color: #ffff;
}

.button:hover{
    /* background-color: var(--red); */
    border: var(--red);
    color: white;
    box-shadow: inset 500px 0 0 var(--red);
    
}


/* -----  FORM 1------ */

#form1{
    display: flex;
    flex-direction: column;
    /* position: absolute;
    left: 999px;
    top: 250px; */
}


/* -----FORM 2------ */
#form2{
    display: flex;
    flex-direction: column;
    /* position: absolute;
    right: 899px;
    top: 250px; */
}

/* -----FORM 3------ */
#form3{
    display: flex;
    flex-direction: column;
    /* position: absolute;
    right: 899px;
    top: 250px; */
}
.textarea {
    resize: none;
}

/* -----FORM 4------ */
#form4{
    display: flex;
    /* flex-direction: column; */
    /* position: absolute;
    right: 899px;
    top: 250px; */
}