

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.main-contato{
    display: flex;
    justify-content: center;
    gap: 144px;
    padding-top: 71px;
    margin-left: 84px;
    margin-right: 116px;
}

.main-contato p, h1, label{
    font-family: 'Inter';
}


.image-figure{
    background-color: #BCFBFF;
    border-radius: 50%;
    height: 500px;
    width: 491px ;

    overflow: hidden;
}
.image-figure img{
    height: 100%;
    width: 100%;
}

.card-1{
    /* border: solid 2px orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-1 p{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 50px;
}

/* ----------------- FORMS------------------- */

.form{
    /* border: solid 2px black; */
    width: 496px;
    /* height: 774px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.form h1{
    font-size: 24px;
    font-weight: 460;
    margin-bottom: 40px;
}


.form label {
    font-weight: 500;
    font-size: 16px;
    
}

.other-input{
    margin-bottom: 14px;
    margin-top: 14px;
    height: 40px;
    width: 496px;
    border-radius: 8px;
    border: solid 2px #606060;

    font-weight: 400;
    font-size: 14px;
}

.input-message{
    margin-bottom: 14px;
    margin-top: 14px;
    height: 108px;
    width: 496px;
    border-radius: 8px;
    border: solid 2px #606060;

    font-weight: 400;
    font-size: 14px;
}

/* ----------- BOTOES --------- */
.form button{
    border: solid var(--dark-red) 1.5px;
    height: 48px;
    width: 172px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: box-shadow .6s ease;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 324px;
    
}

.form button {
    background-color: #ffff;
}

.form button:hover{
    /* background-color: var(--red); */
    border: var(--red);
    color: white;
    box-shadow: inset 500px 0 0 var(--red);
    
}