.form-filter-pet {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 400px;
}
.control-form-options:nth-child(2){
    width: 40%;
}
.control-form-options:nth-child(1){
    width: 20%;
}

.control-form-options {
    padding: 10px;
    width: 30%;
    font-size: 5rem;
}

.control-form-options select {
    border-radius: 10px;
    padding: 7px;
    width: 100%;
}

.control-form-range {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    width: 30%;
    flex-wrap: wrap;
}

.control-form-range-img {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.control-form-range input[type=range] {
    /* --webkit-appearance: none; */
    /* appearance: none; */
    /* border-radius: 5px; */
    /* outline: none; */
    width: 90%;
    color: var(--red);
    background-color: var(--red);
}

.submit {
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* margin: auto; */
}

.control-form-checkbox {
    background-color: white;
    width: 90%;
    height: 90%;
    border-radius: 60px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

}

.control-form-checkbox {
    /* margin-left: 40px;
    margin-right: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    width: 39%;
    height: 55%;
    border-radius: 20px;
}

input[type="checkbox"] {
    width: 80%;
    height: 90%;
    display: none;
}

label {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 60%;
    cursor: pointer;
}

label::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc;
    /* opacity: 0;  */
}

/* .gato::before {
    /* content: url("../assets/cat\ 1.svg"); 
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc;
    /* opacity: 0;  
}*/

.gato::after {
    content: url("../assets/cat\ 1.svg");
    display: block;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    /* opacity: 0;   */
}

.cachorro::after {
    content: url("../assets/image\ 168.svg");
    display: block;
    position: absolute;
    top: 27%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    /* opacity: 0;  */
}

input[type="checkbox"]:checked+label::before {
    background-color: var(--red);
}

input[type="checkbox"]:checked+label::after {
    opacity: 1;
}
.control-form-buttons {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.control-form-buttons button {
    color: red;
    border: 2px solid red;
    background-color: var();
    max-width: 100%;
    height: 48px;
    border-radius: 8px;
    margin: 10px;
}

.control-form-buttons button:hover {
    background-color: var(--red);
    border: var(--red);
    color: white;
}