.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 15%;
}

.figure img{
    width: 28vh;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90vh;
    /* margin-bottom: auto; */
    gap: 20px;
    width: 47vw;
    height: 80vh;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    font-family: 'inter';
}

.newuser{
    padding-top: 20px;
}

.modal-close{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 40px;
    text-align: center;
    user-select: none;
    padding-left: 10px;
    right: 0;
}

.modal-close:hover{
    background-color: #ff4949;
    color: white;
    border-radius: 0 10px 0 10px  ;
}

.modal-form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    /* padding: 20px; */
    height: 40%;
    width: 100%;
    margin: auto;
}

.modal-form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    /* padding: 20px; */
    height: 40%;
    width: 100%;
    margin: auto;
}

.modal-footer{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
    padding: 0 20px;
    margin-bottom: 30px;
}
.modal-footer img{
    width: 10%;
    margin: 2px;
}

.firstregister a{
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
}

.firstregister{
    margin: auto;
    margin-bottom: 20px;
}

.ownaccount a{
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
}

.ownaccount{
    margin: auto;
    margin-bottom: 20px;
}

.alternative-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.forget-password a{
    justify-content: flex-start;
    margin-right: 150px;
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
    /* border: solid black; */
}
.alternative-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.right{
    border-width: 30%;
    width: 30%;
    height: 1px;
}
.left{
    border-width: 30%;
    width: 30%;
    height: 1px;

}
.input-container {
    /* margin: auto; */
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    height: 1%;
    width: 55%;
}

.input-container .icon {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(50%);
    font-size: 15px;
    color: #888;
}

.input-container input {
    width: 100%;
    padding: 7px 7px 7px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-container input::placeholder {
    color: #888;
}

.messageDiv{
    background-color:var(--yellow);
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius: 5px;
    font-size:1rem;
    opacity:0;
    animation:fadeOut 15s forwards;

}

.btn1 {
    border: solid var(--dark-red) 1.5px;
    height: 40px;
    padding: 6px 40px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
    border-radius: 5px;
    margin-bottom: 34px;
}

.btn1 {
    background-color: #ffff;
}

.btn1 a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.btn1:hover {
    box-shadow: inset 200px 0 0 var(--red);
}

.config{
    width: 14%;
    position: absolute;
    margin-left: 74vw;
    margin-top: 8%;
}