/* 
.body{
    max-width: 80vw;
    margin: auto;
} */
.father{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 7vh auto 7vh auto;
}

.main section {
    border: solid 1.7px #aeaeae;
    border-radius: 16px;
    padding: 20px; 
    max-width: 80%;
    margin: auto 30px auto 30px; 
}

.son{
    width: 30%;
    margin: 20px;
}

.header-section {
    text-align: center; 
    margin-bottom: 20px; 
}

.header-section h2{
    display: flex;
    justify-content: flex-start;
    color: #FFB30D;
}

.pet-pic {
    max-width: 100%;
    width: 40vh;
    height: auto;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.dog-details {
    margin-bottom: 20px; 
}

.dog-details div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; 
}

.dog-details span {
    font-weight: bold;
    color: #FFB30D;
}

.info-text {
    font-style: italic;
    text-align: justify; 
    margin-bottom: 20px; 
}

.footer-section {
    text-align: center; 
}

.footer-section button {
    /* Estilos do botão */
    color: red;
    border: 2px solid red;
    background-color: transparent;
    width: 100%; 
    height: 48px;
    border-radius: 8px;
}

.footer-section button:hover{
    background-color: #FFB30D;
    border: #FFB30D;
    color: white;

}
#div-gender{
    display: flex;
    justify-content: flex-start;    
}
.td-gender{
    margin-left: 10px
}
.td-gender,
.td-months,
.td-size {
    background-color: #EAE8F7;
    border-radius: 8px;
    padding: 5px 12px; 
    font-size: 13px;
}
.icon_heart{
       width: 15px;
}
.itens-top{
    display: flex;
    justify-content: space-between;

}


