.sectionpai1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 110px;
    /* border: solid green; */
}

.sec1txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 52%;
    height: 480px;
    margin-left: 40px;
    margin-right: 20px;
    /* border: solid green; */
}

.sec1txt h1 {
    font-family: 'inter';
    font-weight: bold;
    font-size: 46px;
    margin: 30px;
    margin-bottom: 50px;
    justify-content: flex-start;
    /* border: solid green; */
}

.sec1txt p {
    font-family: 'inter';
    font-size: 30px;
    margin-left: 30px;
}

.sec1img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid green; */
    width: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.sec1img img{
    width: 610px;
}

/* segunda pt */

.section-pai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 106px;
    /* border: solid green; */
}

.sec-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 480px;
    background-color: var(--yellow);
    /* border: solid #aeaeae; */
    border-radius: 70px;
    margin-right: 30px;
}

.sec-texto p{
    font-family: 'inter';
    font-weight: bold;
    font-size: 43px;
    width: 90%;
    /* padding-left: 100px; */
}

.sec-texto2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 480px;
    background-color: var(--dark-red);
    /* border: solid #aeaeae; */
    border-radius: 70px;
    margin-left: 30px;
}



.sec-texto2 p{
    font-family: 'inter';
    font-weight: bold;
    font-size: 43px;
    width: 90%;
}

/*  terceira pt */

.section-pai2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 52px;
    border-radius: 70px;
    margin: auto;
    margin-top: 114px;
    margin-bottom: 90px;
    border: solid black;
}

h1{
    gap: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'inter';
    font-weight: bold;
    font-size: 46px;
    width: 100%;
}

.sec1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 89px;
    gap: 187px;
}

.sec1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--red);
    border-radius: 70px;
    padding: 25px;
    width: 120px;
    height: 5px;
    font-family: 'inter';
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.3s ease;
}

.sec1 div:hover{
    transform: scale(1.2)
}

.sec2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 79px;
    gap: 187px;
}

.sec2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--red);
    border-radius: 70px;
    padding: 25px;
    width: 120px;
    height: 5px;
    font-family: 'inter';
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.3s ease;
}

.sec2 div:hover{
    transform: scale(1.2)
}

.sec3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 79px;
}

.sec3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--red);
    border-radius: 70px;
    padding: 25px;
    width: 120px;
    height: 5px;
    background-color: white;
    font-family: 'inter';
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sec3 div:hover{
    transform: scale(1.2)
}

/* quarta pt */

.section-pai3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 70px;
    /* border: solid green; */
}

.secmapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
    /* border: solid pink; */
}

.secmapa h1{
    font-family: 'inter';
    font-weight: bold;
    font-size: 46px;
    margin: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    justify-content: flex-start;
    /* border: solid red; */
}

.mapa{
    width: 700px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.secdog{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid blue; */
    width: 50%;
    margin: auto;
    margin-top: 170px;
    margin-left: 90px;
    margin-right: 30px;
}

.secdog img{
    width: 400px;
}