

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------BODY-------------------------- */

body{
    max-width: 1126px;
    margin-right: 100px;
    margin-left: 78px;

    /* background: linear-gradient(to top, rgba(202, 202, 82, 0), #ad4444); */
    }

/* ----------------BODY-------------------------- */










